@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tombol {
    @apply bg-biru1 p-3 pr-5 pl-5 rounded-lg hover:rounded-xl hover:bg-biru3;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
